.tags
{
    display: flex;

    margin: 0;
    margin-bottom: 2rem;
    padding: 0;

    list-style: none;

    color: $black;

    flex-wrap: wrap;
}

.tag
{
    display: block;

    margin-right: 1rem;
    &__choice
    {
        display: flex;

        justify-content: center;
        align-items: center;
        input
        {
            position: relative;
            z-index: 2;
            right: -1.5rem;

            width: auto;
            margin-right: -1rem;
            & + label
            {
                padding: 1rem 1rem 1rem 4rem;

                background: $grey;
            }
            &:checked + label
            {
                background: $danger-orange;
            }
        }
    }
    &__link
    {
        display: flex;

        padding-left: 10px;

        color: $black;
        background: $danger-orange;

        clip-path: polygon(10px 0%, 100% 1%, 100% 100%, 10px 100%, 0% 50%);
        &--active
        {
            background: lighten($danger-red, 40%);
            .tag__text
            {
                color: $white;
            }
        }
    }
    &__text
    {
        display: block;

        padding: 1rem 1rem;
    }
    &__count
    {
        margin-right: -1px; /* not a best practice */
        padding: 1rem 1rem;

        border-left: 3px solid rgba(0,0,0,.1);
        background: $white;
        background-clip: padding-box;
    }
}
